/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'); */
@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
}

body {
    /* max-width: 1200px; */
    max-width: 100vw;
    /* height: 100vh; */
    margin: auto;
    font-family: Roboto, sans-serif;
    background-color: #88bdbc;
}

header {
    background-color: #88bdbc;
    /* background-color: #e9535f; */
    padding: 10px;
}

footer {
    background-color: #384064;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

nav a {
    display: inline-block;
    margin: 3px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 1px solid whitesmoke;
    text-decoration: overline;
    color: whitesmoke;
}

.main-title {
    text-align: center;
    color: rgba(36, 7, 7, 0.685);
    font-family: Roboto, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
}


.user-msg {
    color: white;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: grey;
}

.user-msg button {
    float: right;
    border: 0;
    border-radius: 50%;
    margin: 5px;
}

.success {
    background-color: rgb(41, 189, 73);
}

.danger {
    background-color: rgb(216, 59, 59);
}


.bug-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.bug-preview {
    background-color: #333;
    color: whitesmoke;
    border-radius: .2em;
    margin: 5px;
    text-align: center;
    padding: 5px;
}

.bug-preview a {
    color: lightskyblue;
}

.bug-preview span {
    color: gold;
}

.bugs-header {
    color: #ebfce9;
    font-family: Roboto, sans-serif;
}

.bug-images{
    width:80px;
}

.user-login-greet{
    display: flex;
    justify-content: end;
    
}

.logout-btn{
    /* margin-left: 10px; */
    height: 20  px;
    align-self: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    /* padding: 10px; */
    
}

.logout-btn:hover{
    background-color: rgba(81, 81, 81, 0.2);
    color: antiquewhite;
    /* border:1px solid white; */
}

.home-main-content{
    color: #ebfce9;
    font-size: 70px;
    align-items: center;
    text-align:center;
    padding-left: 50px;
}

.home-bug-defender{
    width:25%;
}

.main-home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62vh;
}
header{
    height:20vh;

}

footer{
    height:10vh;
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.greet-user{
    font-size: 0.8em;
    text-align: center;
    align-self: center;
    margin-right: 10px;
}

.main-conteiner{
    height: 100vh;
}